language: node_js
node_js:
    - "5.0"
    - "6.0"
    - "7.0"
services:
    - mongodb
cache:
    directories:
        - node_modules
    git:
        depth: 3
        before_script:
            - npm prune
        install:
            - npm install
        script:
          - npm test
        after_script:
          - npm run coverage
